body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

a {
  color: #000000;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  margin: 0px auto;
}

td, th {
  border: 1px solid #555555;
  padding: 5px;
}

#container {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

#top {
  font-size: 36px;
  padding: 10px 0;
  text-align: left;
}

#menu {
  background-color: #c6bffc;
  margin-bottom: 10px;
  padding: 5px 10px;
  text-align: right;
}

#content {
  background-color: #dddddd;
  padding: 20px 0;
}

#welcome a {
  color: blue;
  text-decoration: underline;
}
